body {
    font-family: "Roboto";
    font-weight: 400, 500,700,900;
}

.link{width: 44px;
    height: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    /* IRIS */
    
    color: #4D5AE5;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    }

.logo{
    width: 71px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */

display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;

/* NAVY BLUE */

color: #2E2F42;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
    }

    .linkstudio {
        width: 48px;
height: 24px;

/* Body Bold */

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
    }
    .linkportf {
        width: 66px;
height: 24px;

/* Body Bold */

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
    }
    .linkcont {
        width: 67px;
height: 24px;

/* Body Bold */

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
    }

    .linktelmail {
        width: 153px;
height: 24px;
left: 940px;
top: 24px;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;
    }

    h1 {
        width: 492px;
height: 120px;
left: 474px;
top: 264px;

/* Header 1 */

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 56px;
line-height: 60px;
/* or 107% */

text-align: center;
letter-spacing: 0.02em;

color: #FFFFFF;
    }

    .button{
        display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 32px;
gap: 10px;

width: 170px;
height: 51px;
left: 635px;
top: 432px;

/* IRIS */

background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;


font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.04em;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
    }

    .value{
        
    }